force-app/main/default/flows/Facility_SFRP_CreateBooking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Next_Half_Hour</name>
        <label>Get Next Half Hour</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>FlowDatetimeUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Default_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>booking.TREX1__Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Half_Hour.nextHalfHour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booking.TREX1__End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlDtDefaultEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booking.TREX1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booking.TREX1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booking.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>booking.TREX1__Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Booking_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Function</name>
        <label>Set Function</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>booking.TREX1__book_Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Function_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Booking</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Record_Type</name>
        <label>Check Get Record Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Record Type Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Half_Hour</targetReference>
            </connector>
            <label>Got Record Type</label>
        </rules>
    </decisions>
    <description>Screen flow, facility record page. Create new booking from an internal or external facility record page.</description>
    <dynamicChoiceSets>
        <name>recChoiceFunctions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TREX1__Function__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlDefaultStart</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>fmlDtDefaultEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Next_Half_Hour.nextHalfHour} + (1/48)</expression>
    </formulas>
    <interviewLabel>Facility SFRP CreateBooking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facility SFRP CreateBooking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Booking</name>
        <label>Insert Booking</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>booking</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TREX1__Booking__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Booking_Details_Screen</name>
        <label>Booking Details Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Function</targetReference>
        </connector>
        <fields>
            <name>Booking_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>booking.TREX1__Event_Name__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Input_Function_Picklist</name>
                    <choiceReferences>recChoiceFunctions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Function</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>booking.TREX1__Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>booking.TREX1__Expected_Attendance__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>booking.TREX1__Start_Time__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>booking.TREX1__End_Time__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>booking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TREX1__Booking__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
